canvas {
    background-image: url('./img/road.jpg');
    display: block;
    width: 500px;
    height: 500px;
    grid-column-start: 0;
    background-position: center center;
    background-color: white;
    background-size: cover;
    /* width: 40%;
    height: 120%; */
    margin: 0 auto;
}

title {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

body {
    background-color: white;
    text-align: center;
    color: black;
    font-family: 'Work Sans', sans-serif;
}