canvas {
    background-image: url('./img/myroad.png');
    display: block;
    width: 640px;
    height: 640px;
    grid-column-start: 0;
    background-position: center center;
    background-color: white;
    background-size: cover;
    /* width: 40%;
    height: 120%; */
    margin: 0 auto;
}

title {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

body {
    background-color: WHITE;
    /* background-image: url('./img/grassy.jpg');
    background-position: center; */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-color: white;
    font-family: 'Work Sans', sans-serif;
}